{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
	<div class="container-xxl pt-5">
		<div class="container pb-4 pt-3">
			<h1 class="text-center">Источники данных</h1>
			<p class="text-muted text-center">Добавьте ваши данные для обучения чат-бота.</p>
		</div>
		<div class="row">
			<div class="col-md-2 pe-4">
				{% include 'chats/add_sources_navbar.html' %}
			</div>

			<div class="col-md-7 p-4 d-flex justify-content-center border flex-column">
				<div>
					<h3>Текст</h3>
					<hr class="my-4">
				</div>
				<div class="container-fluid p-0">
					<form method="post">
						{% csrf_token %}
						{{ form.chat_text }}
						<div id="char-count" class="text-center text-muted">
							{{ form.chat_text.value|length }}
						</div>
						<div class="py-3 d-flex justify-content-end align-items-center">
							<input type="submit" value="Сохранить" class="btn btn-secondary">
						</div>
					</form>
				</div>
			</div>

			<div class="col-md-3">
				<div class="text-center border p-4">
          <div class="fw-bold mb-2">Источники</div>
          <div class="mb-4"></div>
          <span class="">Всего обнаружено символов </span>
          <span class="d-flex justify-content-center">
            <span class="fw-bold" id="smartchat-char-count">{{ smartchat_characters }}</span>
            <span class="text-muted"> / {{ chat_character_limit|intcomma }}</span>
          </span>
          <form method="post" action="{% url 'chats:create_chatbot' chat_uuid %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-dark w-100 mt-4">
              {% if smartchat_active %}Retrain Chatbot{% else %}Create Chatbot{% endif %}
            </button>
          </form>
				</div>
			</div>

		</div>
	</div>
{% endblock %}

{% block domready %}
<script>
   document.addEventListener('DOMContentLoaded', (event) => {
   // DOM loaded
	var chatTextArea = document.getElementById('id_chat_text');
	var charCountDiv = document.getElementById('char-count');

	chatTextArea.addEventListener('input', function () {
		charCountDiv.textContent = chatTextArea.value.length;
	});

    const deleteIcons = document.querySelectorAll("[data-form-id]");
	deleteIcons.forEach(function (deleteIcon) {
		deleteIcon.addEventListener("click", function () {
			const formId = this.getAttribute("data-form-id");
			const deleteForm = document.getElementById(formId);
			if (deleteForm) {
				deleteForm.submit();
			}
		});
    });
  })
</script>
{% endblock %}
