{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_filters %}

{% block content %}
	<div class="container-xxl pt-5">
		<div class="container pb-4 pt-3">
			<h1 class="text-center">Источники данных</h1>
			<p class="text-muted text-center">Добавьте ваши данные для обучения чат-бота.</p>
		</div>
		<div class="row">
			<div class="col-md-2 pe-4">
				{% include 'chats/add_sources_navbar.html' %}
			</div>

			<div class="col-md-7 p-4 d-flex justify-content-center border flex-column">
				<div>
					<h3>Сайт</h3>
					<hr class="my-4">
				</div>
				<div class="container d-flex flex-column justify-content-start pt-4 px-0" style="min-height: 25vh;">
					<form id="crawl-url-form" class="w-100" action="{% url 'chats:start_crawler' chat_uuid %}" method="post"
                hx-post="{% url 'chats:start_crawler' chat_uuid %}"
                hx-target="this"
                hx-swap="none">
						{% csrf_token %}
						<div class="d-flex flex-row">
							{{ form.crawl_url }}
							<button type="submit" id="submit-url" class="btn btn-lg btn-dark ms-2 text-nowrap {% if crawling_task_active %}disabled{% endif %}">
								{% if crawling_task_active %}
                  Обработка...<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                {% else %}
                  отправить
                {% endif %}
							</button>
						</div>
						<span id="url-input-error" class="text-danger" style="display: none">неправильный url</span>
					</form>
					<span class="text-muted pt-3">Добавьте ссылку на ваш вебсайт, мы соберем всю доступную текстовую информацию за исключением файлов.</span>
				</div>
        <div class="d-flex align-items-center mt-4 mb-2">
          <hr class="w-100 my-4">
          <span class="px-2 text-nowrap">Добавленные ссылки</span>
          <hr class="w-100 my-4">
        </div>
        <div class="d-flex justify-content-end">
          <form method="post" action="{% url 'chats:delete_all_urls' chat_uuid %}" id="delete-all-form">
            {% csrf_token %}
          <button class="btn-outline-danger rounded-2" id="delete-all-button">Удалить все</button>
          </form>
        </div>
        <div id="urls-container"
             hx-get="{% url 'chats:list_chat_urls' chat_uuid %}"
             hx-trigger="{% if crawling_task_active %}every 5s{% else %}none{% endif %}"
             hx-swap="innerHTML">
        {% for chat_url in chat_urls %}
          <div class="d-flex align-items-center justify-content-between pt-4" id="url-container-{{ chat_url.id }}">
              <input type="text" class="form-control fw-bold" value="{{ chat_url.url|slice:':80' }}">
              <span class="text-muted ps-2" style="white-space: nowrap; font-size: 13px;">{{ chat_url.character_length }}</span>
            <div id="delete-box-{{ chat_url.id }}" class="ps-2" style="color: indianred; cursor: pointer;"
                 hx-post="{% url 'chats:delete_url' chat_uuid chat_url.id%}"
                 hx-target="#url-container-{{ chat_url.id }}"
                 hx-swap="outerHTML"
                 hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
              </svg>
            </div>
          </div>
        {% endfor %}
        </div>
			</div>

			<div class="col-md-3">
				<div class="text-center border p-4">
          <div class="fw-bold mb-2">Источники</div>
          <div class="mb-4"></div>
          <span class="">Всего обнаружено символов </span>
          <span class="d-flex justify-content-center">
            <span class="fw-bold" id="smartchat-char-count">{{ smartchat_characters }}</span>
            <span class="text-muted"> / {{ chat_character_limit|intcomma }}</span>
          </span>
          <form method="post" action="{% url 'chats:create_chatbot' chat_uuid %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-dark w-100 mt-4">
              {% if smartchat_active %}Retrain Chatbot{% else %}Create Chatbot{% endif %}
            </button>
          </form>
				</div>
			</div>

		</div>
	</div>
{% endblock %}

{% block domready %}
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const crawlForm = document.getElementById('crawl-url-form');
    const crawlUrlInput = document.getElementById('id_crawl_url');
    const urlError = document.getElementById('url-input-error');
    const submitButton = document.getElementById('submit-url');
    const urlsContainer = document.getElementById('urls-container');

    function isValidURL(url) {
      var urlPattern = /^(https?|ftp):\/\/[^\s/$.?#].[^\s]*$/;
      return urlPattern.test(url);
    }

    crawlUrlInput.addEventListener('input', function () {
        const enteredValue = crawlUrlInput.value;
        if (enteredValue.trim() === '' || isValidURL(enteredValue)) {
            urlError.style.display = 'none';
        } else {
            urlError.style.display = 'block';
        }
    });

    crawlForm.addEventListener('htmx:beforeRequest', function(evt) {
      const urlValue = crawlUrlInput.value.trim();
      if (!isValidURL(urlValue)) {
        evt.preventDefault();
        submitButton.blur();
        return;
      } else {
      }
      submitButton.classList.add('disabled');
      submitButton.innerHTML = 'Обработка...<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';
    });

    crawlForm.addEventListener('htmx:afterOnLoad', function(evt) {
      const triggerHeader = evt.detail.xhr.getResponseHeader("HX-Trigger");
      if (triggerHeader === "true") {
        urlsContainer.setAttribute('hx-trigger', 'every 5s');
        htmx.process(urlsContainer);
      } else {
        submitButton.classList.remove('disabled');
        submitButton.innerHTML = 'отправить';
      }
    });

    urlsContainer.addEventListener('htmx:afterSwap', function(evt){
        const triggerHeader = evt.detail.xhr.getResponseHeader("HX-Trigger");
        if (triggerHeader === 'true'){
            evt.target.removeAttribute('hx-trigger');
            htmx.process(evt.target);
            submitButton.classList.remove('disabled');
            submitButton.innerHTML = 'отправить';
        }
    });
  })
</script>
{% endblock %}
