{% if messages %}
  <div class="container text-center" id="messages-container" hx-swap-oob="beforeend:#messages-container">
    {% for message in messages %}
    <div class="{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert alert-danger{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}alert alert-warning{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert alert-success{% else %}alert alert-info{% endif %} alert-dismissible">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      {{ message }}
    </div>
    {% endfor %}
  </div>
{% endif %}